<h1>ASSR SEGUNDA EVALUACION PRACTICA</h2>
<h3>Click hereto get access to the <b> <a href="/router/list">DATABASE</a></b></h3>
<div class="form-group">
<label>Ingrese ciudad</label>

<div class="form-group">
    <input type="text" name="buscar" placeholder="ingrese una ciudad" class="form-control">
</div>
<button class="btn btn-primary btn-block" href="/router/list">
    Buscar
</button>