<table>
    <thead>
        <tr>
            <th>City</th>
            <th>State</th>
            <th>ZIP</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.City}}</td>
            <td>{{this.State}}</td>
            <td>{{this.ZIP}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>